<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP de Regina</title>
</head>
<body>
    {{{ body }}}  <!-- Esto es como se ve la sintaxis de Handlebars -->
</body>
</html>